{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.json.hbs",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.js.hbs",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}